<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>v-if的使用</title>
    <!--v-if后边的条件为false时，对应的元素及其子元素不会被渲染-->
  </head>
  <body>
    <div id="app">
      <h2 v-if="isShow">{{ message }}</h2>
      <h2 v-else>{{ option }}</h2>
      <p v-if="score >= 90">优秀</p>
      <p v-else-if="score >= 80">良好</p>
      <p v-else-if="score >= 70">努力</p>
      <p v-else-if="score >= 60">及格</p>
      <p v-else>不及格</p>
      <h1>{{ result }}</h1>
    </div>
    <script src="/Vue/js/vue.js"></script>
    <script>
      const app = new Vue({
        el: "#app",
        data: {
          message: 'Hello Vue',
          option: "isShow为false才显示",
          score: 60,
          isShow: false,
        },
        computed: {
          result() {
            let showMessage = '';
            if (this.score >= 90){
              showMessage = '优秀'
            } else if (this.score>= 80){
              showMessage = '良好'
            } else {
              showMessage = "加油"
            }
            return showMessage
          }
        },
      })
    </script>
  </body>
</html>