<!DOCTYPE html>
<html lang="en">
<link>
  <meta charset="UTF-8">
  <title>购物车</title>
  <link href="./练习4/cart.css" type="text/css" rel="stylesheet"></link>
</head>
<body>
  <div id="mall">
    <div v-if="books.length">
    <table>
      <thead>
        <tr>
          <th></th>
          <th>书籍名称</th>
          <th>作者</th>
          <th>出版日期</th>
          <th>价格</th>
          <th>购买数量</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, index) in books">
          <td> {{ item.id }} </td>
          <td> {{ item.name}} </td>
          <td> {{ item.writer }} </td>
          <td> {{ item.date }} </td>
          <td> {{ item.price | showPrice }} </td>
          <td>
            <button @click="reduce(index)" v-bind:disabled="item.count <=1">-</button> 
            {{ item.count }}
            <button @click="add(index)">+</button>
           </td>
          <td>
            <button @click="remove(index)">删除</button>
          </td>
        </tr>
      </tbody>
    </table>
    <h3>总价：{{ totalPrice | showPrice }}</h3>
    </div>
    <h2 v-else>请添加商品</h2>
  </div>
  <script src="../js/vue.js"></script>
  <script>
    const mall = new Vue({
      el: "#mall",
      data: {
        books: [
          {id: 1, name: "《海边的卡夫卡》", writer: "村上春树", date: "1976-2-14", price: 35.5, count: 1},
          {id: 2, name: "《挪威的森林》", writer: "村上春树", date: "1986-2-14", price: 20.7, count: 1},
          {id: 3, name: "《老人与海》", writer: "海明威", date: "1945-2-14", price: 44.59, count: 1},
          {id: 4, name: "《一生的旅途》", writer: "季羡林", date: "1988-2-14", price: 16.5, count: 1},
          {id: 5, name: "《素年锦时》", writer: "安妮宝贝", date: "2010-2-14", price: 38.5, count: 1},
        ]
      },
      methods: {
        reduce(index) {
          return this.books[index].count--
        },
        add(index) {
          return this.books[index].count++
        },
        remove(index) {
          return this.books.splice(index, 1)
        }
      },
      computed: {
        totalPrice() {
          return this.books.reduce(function(preValue, book){
            return preValue + book.price * book.count
          }, 0) 
        }
      },
      filters: {
        showPrice(price) {
          return '￥' + price.toFixed(2)
        }
      }
    })
  </script>
</body>
</html>