<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
      .activity {
        color: red;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <h2>{{ message }}</h2>
      <div>
        <ul>
          <li v-for="(item, index) in skinCare" :key="item.name"
              :class="{activity: currentIndex == index}" @click="liClick(index)">
            {{ item['name']}}</li>
        </ul>
        <label>总价：{{ sumPrice }}</label>
      </div>
      <div>
        <label :class ="getClass()">看我的颜色</label></br>
        <label v-if="isShow">我显示了</label></br>
        <button @click="hide">{{ hideMsg }}</button>
        <button @click="show">{{ showMsg }}</button>
        <button @click="changeColor">改变字体颜色</button></br>
        <button @click="btnClick(123, $event)">点我</button>
      </div>
      <div>
        <span v-if="login">
          <label for="email">用户邮箱</label>
          <input type="text" id="email" placeholder="请输入邮箱" key="email">
        </span>
        <span v-else>
          <label for="phone">手机号</label>
          <input type="text" id="phone" placeholder="请输入手机号" key="phone">
        </span>
        <button @click="changeLogin">切换登录方式</button>
      </div>
      <div>
        <table>
          <thead>
            <tr>
              <th></th>
              <th>书籍名称</th>
              <th>出版日期</th>
              <th>价格</th>
              <th>购买数量</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) in books">
              <td >{{ item.id }}</td>
              <td >{{ item.name }}</td>
              <td >{{ item.date }}</td>
              <td >{{ item.price }}</td>
              <td >
                <button @click="bookReduce(index)" :disabled="item.count < 1">-</button>
                {{ item.count }}
              <button @click="bookAdd(index)">+</button>
              </td>
              <td ><button>删除</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <script src="/Vue/js/vue.js"></script>
    <script>
      const app = new Vue({
        el: "#app",
        data: {
          message: 'Hello Vue',
          hideMsg: '隐藏',
          showMsg: '显示',
          login: true,
          isactivity: true,
          isline: false,
          isShow: true,
          currentIndex: 0,
          skinCare: [
            {name: "Chanel", country: "France", price: 2000},
            {name: "Dior", country: "France", price: 2500},
            {name: "YSL", country: "France", price: 3000}
          ],
          books: [
            {id:1, name: "《老人与海》", date: "1992-2-14", price: 50, count: 1},
            {id:2, name: "《朝花夕拾》", date: "1992-2-15", price: 50, count: 1},
            {id:3, name: "《我们三》", date: "1992-2-16", price: 50, count: 1},
            {id:4, name: "《爱情笔记》", date: "1992-2-17", price: 50, count: 1}
          ]
        },

        methods: {
          changeColor() {
            this.isactivity = !this.isactivity
          },
          liColor(index) {
            this.isactivity = !this.isactivity
          },
          getClass() {
            return {activity: this.isactivity, line: this.isline}
          },
          btnClick(num, event) {
            console.log('----',num, event)
          },
          hide() {
            this.isShow = !this.isShow
          },
          show() {
            this.isShow = !this.isShow
          },
          changeLogin() {
            this.login = !this.login
          },
          liClick(index) {
            this.currentIndex = index
          },
          bookAdd(index) {
            this.books[index].count++
          },
          bookReduce(index) {
            this.books[index].count--
          },
        },

        computed: {
          sumPrice (){
            let totalPrice = 0
            for (let i =0; i < this.skinCare.length; i++){
              totalPrice += this.skinCare[i].price
            }
            return totalPrice
          }
        }

      })
    </script>
  </body>
</html>