<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Title</title>
  </head>
  <body>
    <div id="app">
      <!--v-model:双向绑定-->
      <label>
      <input type="text" v-model="message">{{ message }}
      </label>
      </br>
      <!--radio-->
      <label>
        <input type="radio" id="male"  value="男" v-model="sex">男
      </label></br>
      <label>
        <input type="radio" id="female"  value="女" v-model="sex">女
      </label>
      <h2>你选择的是：{{ sex }}</h2>
      <!--checkbox单选框-->
      <label>
        <input type="checkbox" id="agreeMent" v-model="isAgree">
        同意
      </label>
    </br>
      <button :disabled="!isAgree" >下一步</button>
    </br>
      <!--checkbox多选框-->
      <!--<label>
        <input type="checkbox" id="checkbox1" value="篮球" v-model="habities">篮球
      </label>
      <label>
        <input type="checkbox" id="checkbox1" value="足球" v-model="habities">足球
      </label>
      <label>
        <input type="checkbox" id="checkbox1" value="高尔夫" v-model="habities">高尔夫
      </label>
      <label>
        <input type="checkbox" id="checkbox1" value="排球" v-model="habities">排球
      </label>-->
      <label v-for="(item,index) in preHabities">
        <input type="checkbox" :id="index" :value="item" v-model="habities">{{ item }}
      </label>
      <h2>爱好：{{ habities }}</h2>
      <!--select单选/多选,multiple属性，为支持多项-->
      <!--<select name='frut' id="fruit" v-model="fruit" multiple>
        <option value="苹果" >苹果</option>
        <option value="香蕉" >香蕉</option>
        <option value="榴莲" >榴莲</option>
        <option value="葡萄" >葡萄</option>
      </select>-->
      <select name="fruit" v-model="fruit" multiple>
        <option v-for="item in preFruit" :value="item" >{{ item }}</option>
      </select>
      <h3>你喜欢吃：{{ fruit }}</h3>
    </div>
    <script src="/Vue/js/vue.js"></script>
    <script>
      const app = new Vue({
        el: "#app",
        data: {
          message: 'Hello Vue',
          sex: '男',
          isAgree: false,
          habities: [],
          preHabities: ["足球","篮球","冰球","高尔夫","台球","排球"],
          fruit: [],
          preFruit: ['苹果','香蕉','榴莲','葡萄','西瓜']
        }
      })
    </script>
  </body>
</html>